body {
    margin: 0px
}
.top-container {
    width: auto;
    min-height:90px;
    background: royalblue;
    padding: 20px 0;
}

.bottom-container {
    width: auto;
    height: auto;
    background: white;
}

.input-box {
    width: 50%;
    height: 50px;
}

.tall-button {
    height: 50px;
    min-width: 60px;
    margin-left: -4px;
    margin-top: -2px;
}
.random-button {
    height: 50px;
    min-width: 60px;
    margin-left: 10px;
    margin-top: -2px;
}

.or {
    color: white;
}

#loading {
    display: none;
    margin-top: 25px;
    margin-left: 200px;
}

#result-container {
    margin: 25px 100px;
}

.panel-body {
    padding-bottom: 35px;
}

.input-text-area {
    min-height: 50px;
    min-width: 250px;
}