<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Result</h3>
  </div>
  <div class="panel-body">
      We compared your project's metadata with statistical data. The probability of achieving the targeted funding rate is:
      {{ result }}
  </div>
</div>
